<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GBook Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GBook.styles.css" asp-append-version="true" />
</head>
<body>
        <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home page</a>
                <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Register">Registration</a>
                 @if (Context.Session.GetString("Name") == null)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">Logоn</a>
                }
                else
                {
                    <span class="navbar-brand">Hello, @Context.Session.GetString("Name") !  </span>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                }
            </div>
        </nav>
    </header>
    <div class="container body-content">

        @RenderBody()

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - AspNetCore
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>